<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Go</servlet-name>
        <servlet-class>ml.el.database.Go</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Go</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getSity</servlet-name>
        <servlet-class>ml.el.database.GetSity</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getSity</servlet-name>
        <url-pattern>/getSity</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getStreet</servlet-name>
        <servlet-class>ml.el.database.GetStreet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getStreet</servlet-name>
        <url-pattern>/getStreet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getPlace</servlet-name>
        <servlet-class>ml.el.database.GetPlace</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>getPlace</servlet-name>
        <url-pattern>/getPlace</url-pattern>
    </servlet-mapping>
</web-app>