.ui-autocomplete {
    position: relative !important;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.ui-autocomplete > li {
    padding: 3px 20px;
}

.ui-autocomplete > li.ui-state-focus {
    background-color: #337ab7;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.cl_menu {
    height: 30px;
}

.table {
    width: 450px;
    margin: auto;
}

.col-sity, .table-td-sity {
    width: 120px !important;
}

.col-street, .table-td-street {
    width: 150px !important;
}

.col-house, .table-td-house {
    width: 50px !important;
}

.table-td-button {
    width: 70px;
}

.mainButton {
    vertical-align: middle;
}

.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.output {
    text-align: center;
}

.priseForm {
    text-align: left;
}

.calc {
    width: 50px !important;
}
