.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc -webkit-border-radius : 5 px;
}

.ui-autocomplete > li {
    padding: 3px 20px;
}

.ui-autocomplete > li.ui-state-focus {
    background-color: #337ab7;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu {
    height: 50px;
}